#dashboard
    &,li
        font-size: 1.8rem
    h1 
        font-size: 4rem
        margin-bottom: 2rem
    .mt-2 
        margin-top: 1rem
    // Modification de la nav top de adminlte (update vers fontawesome 5)
    .main-header .sidebar-toggle:before 
        content: ''