#contact-cheat  // permet le scroll de la navbar jusque contact
  margin-bottom: 800px
  margin-top: -800px
#home-cheat 
  height: 1px
h2 
  margin: 3rem auto
  width: max-content
  border-bottom: 3px solid $info
.hide
  visibility: hidden
section 
  background-color: white

@media screen and (min-width: 1200px)
  html 
    font-size: 20px