#dashboard,
#dashboard li {
  font-size: 1.8rem;
}

#dashboard h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

#dashboard .mt-2 {
  margin-top: 1rem;
}

#dashboard .main-header .sidebar-toggle:before {
  content: '';
}

