#dashboard,
#dashboard li {
  font-size: 1.8rem;
}

#dashboard h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

#dashboard .mt-2 {
  margin-top: 1rem;
}

#dashboard .p-2 {
  padding: 1rem;
}

#dashboard .main-header .sidebar-toggle:before {
  content: '';
}

#dashboard table.table .drag-drop {
  color: grey;
}

#dashboard #message-alert {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transition-delay: 0.5s, 0s;
          transition-delay: 0.5s, 0s;
  -webkit-transition-property: margin-bottom, opacity;
  transition-property: margin-bottom, opacity;
}

