#home
  background-image: url('/images/home_background.jpg')
  // background-attachment: fixed
  background-size: cover
  margin-top: 3rem
  height: calc(100vh - 3rem)
  text-align: left
  position: fixed 
  z-index: -1
  top: 0
  right: 0
  left: 0
  #title
    margin-top: 30vh
    h1 
      display: inline-block 
      margin-top: 50px
      font-weight: 900
    h2 
      border-bottom: 0
  p
    display: inline-block
    font-size: 1.2rem
    // margin-left: 250px
    width: 90%
  p:nth-of-type(1)
    display: inline-block
    // font-size: 2rem
    // margin-left: 250px
  span:nth-of-type(1)
    display: inline-block
    margin-right: -4px !important