#home
  background-image: url('/images/background-header.jpg')
  background-attachment: fixed
  background-size: cover
  margin-top: 3rem
  height: calc(100vh - 3rem)
  text-align: center
  h1 
    display: inline-block 
    margin-top: 50px
    font-weight: 900
  p:first-child 
    display: inline-block
    font-size: 2rem
    margin-left: 250px
  p:last-child 
    display: inline-block
    font-size: 1.3rem
    margin-left: 250px